.share-bg{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 349%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: all 1s;
    animation: slide-down .3s ease-out;
    -webkit-animation: slide-down .3s ease-out;
    -moz-animation: slide-down .3s ease-out;
}
.share-content{
    width: 25%;
    height: 20%;
    background: white;
    position: relative;
    padding: 5px;
    display: flex;
    font-size: 45px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
}

.close-button{
    position: absolute;
    top: 0%;
    right: 10px;
    font-size: 30px;
    transform: rotate(45deg);
    cursor: pointer;
    color: gray;
    transition: all 0.3s;
}

.close-button:hover{
    color: black;
    transform: rotate(45deg) scale(1.3);
}

@keyframes slide-down {
    0% { opacity: 0; -webkit-transform: translateY(-100%); }   
  100% { opacity: 1; -webkit-transform: translateY(0); }
}

@-webkit-keyframes slide-down {
    0% { opacity: 0; -webkit-transform: translateY(-100%); }   
  100% { opacity: 1; -webkit-transform: translateY(0); }
}
@-moz-keyframes slide-down {
    0% { opacity: 0; -moz-transform: translateY(-100%); }   
  100% { opacity: 1; -moz-transform: translateY(0); }
}

@media only screen and (max-width: 1280px){
    .review-detail{
        line-height: 1.1;
        font-size: 11px;
    }
    #nex{
        top: 50%;
    }
    #pre{
        top: 50%;
    }
}

@media only screen and (max-width: 1200px){
    .share{
        left: 16%;
    }
}

@media only screen and (max-width: 1100px){
    .review-detail{
        line-height: 1.0;
        font-size: 10.5px;
    }
}



@media only screen and (max-width: 992px){
    .form-background{
        margin-left: 0 !important;
    }

    .right-card{
        float: left !important;
    }
    .container{
        padding-left: 15px !important;
    }
    .review-card{
        width: 52% !important;
    }
    .form input{
        padding: 8px 40px;
    }
    .draw1{
        top: 7.5%;
    }
    .draw2{
        top: 30.8%;
    }
    .draw3{
        top: 54.2%;
    }
    .draw4{
        top: 77.8%;
    }
    #review-slide {
        position: absolute;
        width: 60%;
        left: 35%;
    }
    #nex{
        top: 50%;
        right:5%;
    }
    #pre{
        top: 50%;
        left: 7%;
    }
    .share{
        left: 12%;
        top: -15%;
        padding: 6px 10px;
    }
}

@media only screen and (max-width:767px){
    .reviews{
        height: 310px !important;
    }
    
    .review-right{
        float: left !important;
        margin-top: 40px !important;
    }
    .buttons .row{
        padding-left: 0 !important;
    }
    .review-card{
        padding: 15px 8px 12px 12px !important;
        width: 55% !important; 
    }
    .name h5{
        margin-bottom: 20px !important;
    }
    .review-detail{
        line-height: 1.0;
        font-size: 9px;
    }
    #review-slide {
        position: absolute;
        width: 58%;
        left: 35%;
    }
    .card:hover{
        transform: scale(1.07);
    }
    .button-effect:hover{
        transform: scale(1.04);
    }
    .button-effect:active{
        transform: scale(.90);
    }
    .share{
        left: 39%;
        top: -88%;
    }
    .fab:hover{
        transform: scale(1.6);
    }
}

@media only screen and (max-width:660px){
    .form input{
        width: 85%;
        padding: 8px 50px;
    }
    .form button{
        width: 85%;
    }
    .review-card{
        padding: 12px 6px 10px 10px !important;
        width: 55% !important; 
    }
    .name h5{
        margin-bottom: 15px !important;
    }
    .review-detail{
        line-height: .9;
        font-size: 9px;
    }
    #nex{
        font-size: 50px;
    }
    #pre{
        font-size: 50px;
    }
    .share{
        left: 37%;
    }
}


@media only screen and (max-width:540px){
    .form input{
        width: 90%;
        padding: 8px 35px;
    }
	.form button{
		width: 90%;
	}
    .week-button{
        margin-right: 4%;
    }
    .reviews{
        height:290px !important;
    }
    .review-card{
        padding: 9px 3px 4px 5px !important;
        width: 55% !important; 
    }
    .name h5{
        margin-bottom: 12px !important;
    }
    .review-detail{
        line-height: .9;
        font-size: 8.5px;
    }
    #review-slide {
        position: absolute;
        width: 68%;
        left: 31%;
    }
    #nex{
        top: 54%;
        right:1.5%;
        font-size: 40px;
    }
    #pre{
        top: 54%;
        left: 1.5%;
        font-size: 40px;
    }
    .share{
        left: 34.5%;
    }
}
@media only screen and (max-width:440px){
    .reviews{
        height: 290px !important;
    }
    .review-card{
        padding: 8px 2px 3px 3.5px !important;
        width: 55% !important; 
    }
    .image-holder{
        height: 85%;
        width: 29%;
    }
    .name h5{
        margin-bottom: 10px !important;
    }
    .review-detail{
        line-height: .9;
        font-size: 8px;
    }
    #review-slide {
        position: absolute;
        width: 66.5%;
        left: 31.5%;
    }
    .share{
        left: 31.5%;
    }
}
@media only screen and (max-width:380px){
    .draw2{
        top: 31.0%;
        height: 22.4%;
    }
    .draw3{
        top: 56.1%;
        height: 20%;
    }
    .draw4{
        top: 78.5%;
        height: 20.5%;
    }
    .share{
        left: 29.5%;
    }
}